:root {
  --color-primary: #0000ff;
  --color-border:#d3d3d3;
  --black-border: rgb(78, 78, 78);
  --shadow: 0 12px 24px 0 rgba(0,0,0,0.09);
  --checkout-background: #d3d3d4;


}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin:0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  line-height: 2;
  background-color: rgb(202, 202, 202);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color:transparent; 
  border:none
}

 /* Chrnome */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

/* Firefox */
 input[type=number] {
 -moz-appearance: textfield;
}

*, *:before, *:after {
  box-sizing: inherit;
}
